{"swagger":"2.0","info":{"version":"v3","title":"Fortify on Demand Web API Explorer"},"host":"api.ams.fortify.com","schemes":["https"],"paths":{"/api/v3/applications/{applicationId}/application-monitoring/configuration":{"get":{"tags":["ApplicationMonitoring"],"summary":"Get an Application Monitoring Configuration for a given application","description":"Allowed Scopes: api-tenant, view-apps","operationId":"ApplicationMonitoringV3_GetApplicationMonitoringConfiguration","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"applicationId","in":"path","description":"The application id","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/GetApplicationMonitoringConfigResponse"}},"401":{"description":"Unauthorized"},"404":{"description":"NotFound"},"429":{"description":"TooManyRequests"},"500":{"description":"InternalServerError"}}},"put":{"tags":["ApplicationMonitoring"],"summary":"Update an Application Monitoring Configuration for a given application","description":"Allowed Scopes: api-tenant, manage-apps","operationId":"ApplicationMonitoringV3_PutApplicationMonitoringConfig","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded","multipart/form-data"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"applicationId","in":"path","description":"The application id","required":true,"type":"integer","format":"int32"},{"name":"requestModel","in":"body","description":"The application monitoring config data","required":true,"schema":{"$ref":"#/definitions/PutApplicationMonitoringConfigRequest"}}],"responses":{"204":{"description":"NoContent"},"400":{"description":"BadRequest","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"NotFound"},"422":{"description":"UnprocessableEntity","schema":{"$ref":"#/definitions/ErrorResponse"}},"429":{"description":"TooManyRequests"},"500":{"description":"InternalServerError"}}}},"/api/v3/applications/{applicationId}/application-monitoring/vulnerabilities":{"get":{"tags":["ApplicationMonitoring"],"summary":"Get all Application Monitoring Vulnerability for a given application","description":"Allowed Scopes: api-tenant, view-issues","operationId":"ApplicationMonitoringV3_GetApplicationMonitoringVulnerabilities","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"applicationId","in":"path","description":"The application id","required":true,"type":"integer","format":"int32"},{"name":"filters","in":"query","description":"<p>A delimited list of field filters.</p>\r\n<p>Field name and value should be separated by a colon (:).</p>\r\n<p>Multiple fields should be separated by a plus (+). Multiple fields are treated as an AND condition. Example, fieldname1:value+fieldname2:value</p>\r\n<p>Multiple values for a field should be separated by a pipe (|). Mulitple values for a field are treated as an OR condition. Example, fieldname1:value1|value2</p>","required":false,"type":"string"},{"name":"orderBy","in":"query","description":"The field name to order the results by.","required":false,"type":"string"},{"name":"orderByDirection","in":"query","description":"The direction to order the results by. ASC and DESC are valid values.","required":false,"type":"string"},{"name":"fields","in":"query","description":"Comma separated list of fields to return.","required":false,"type":"string"},{"name":"offset","in":"query","description":"Offset of the starting record. 0 indicates the first record.","required":false,"type":"integer","format":"int32"},{"name":"limit","in":"query","description":"Maximum records to return. The maximum value allowed is 50.","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/ApplicationMonitoringVulnerabilityFindingListResponse"}},"400":{"description":"BadRequest","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Unauthorized"},"404":{"description":"NotFound"},"429":{"description":"TooManyRequests"},"500":{"description":"InternalServerError"}}}},"/api/v3/applications/{applicationId}/application-monitoring/risk-profiles":{"get":{"tags":["ApplicationMonitoring"],"summary":"Get all Application Monitoring Risk Profiles for a given application","description":"Allowed Scopes: api-tenant, view-apps","operationId":"ApplicationMonitoringV3_GetApplicationMonitoringRiskProfiles","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"applicationId","in":"path","description":"The application id","required":true,"type":"integer","format":"int32"},{"name":"filters","in":"query","description":"<p>A delimited list of field filters.</p>\r\n<p>Field name and value should be separated by a colon (:).</p>\r\n<p>Multiple fields should be separated by a plus (+). Multiple fields are treated as an AND condition. Example, fieldname1:value+fieldname2:value</p>\r\n<p>Multiple values for a field should be separated by a pipe (|). Mulitple values for a field are treated as an OR condition. Example, fieldname1:value1|value2</p>","required":false,"type":"string"},{"name":"orderBy","in":"query","description":"The field name to order the results by.","required":false,"type":"string"},{"name":"orderByDirection","in":"query","description":"The direction to order the results by. ASC and DESC are valid values.","required":false,"type":"string"},{"name":"fields","in":"query","description":"Comma separated list of fields to return.","required":false,"type":"string"},{"name":"offset","in":"query","description":"Offset of the starting record. 0 indicates the first record.","required":false,"type":"integer","format":"int32"},{"name":"limit","in":"query","description":"Maximum records to return. The maximum value allowed is 50.","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/ApplicationMonitoringRiskProfileFindingListResponse"}},"400":{"description":"BadRequest","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Unauthorized"},"404":{"description":"NotFound"},"429":{"description":"TooManyRequests"},"500":{"description":"InternalServerError"}}}},"/api/v3/applications/{applicationId}":{"get":{"tags":["Applications"],"summary":"Retrieves an individual application by id","description":"Allowed Scopes: api-tenant, view-apps","operationId":"ApplicationsV3_GetApplication","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"applicationId","in":"path","description":"The application id","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/Application"}},"401":{"description":"Unauthorized"},"404":{"description":"NotFound"},"429":{"description":"TooManyRequests"},"500":{"description":"InternalServerError"}}},"put":{"tags":["Applications"],"summary":"Update an application","description":"Allowed Scopes: api-tenant, manage-apps","operationId":"ApplicationsV3_PutApplication","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded","multipart/form-data"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"applicationId","in":"path","description":"The application id","required":true,"type":"integer","format":"int32"},{"name":"requestModel","in":"body","description":"The application data","required":true,"schema":{"$ref":"#/definitions/PutApplicationRequest"}}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/PutApplicationResponse"}},"400":{"description":"BadRequest","schema":{"$ref":"#/definitions/PutApplicationResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"NotFound"},"422":{"description":"UnprocessableEntity","schema":{"$ref":"#/definitions/PutApplicationResponse"}},"429":{"description":"TooManyRequests"},"500":{"description":"InternalServerError"}}},"delete":{"tags":["Applications"],"summary":"Deletes an application","description":"Allowed Scopes: api-tenant, manage-apps","operationId":"ApplicationsV3_Delete","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"applicationId","in":"path","description":"The application id","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/DeleteApplicationResponse"}},"400":{"description":"BadRequest","schema":{"$ref":"#/definitions/DeleteApplicationResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"NotFound"},"429":{"description":"TooManyRequests"},"500":{"description":"InternalServerError"}}}},"/api/v3/applications":{"get":{"tags":["Applications"],"summary":"Retrieve a collection of applications","description":"Allowed Scopes: api-tenant, view-apps","operationId":"ApplicationsV3_GetApplications","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"filters","in":"query","description":"<p>A delimited list of field filters.</p>\r\n<p>Field name and value should be separated by a colon (:).</p>\r\n<p>Multiple fields should be separated by a plus (+). Multiple fields are treated as an AND condition. Example, fieldname1:value+fieldname2:value</p>\r\n<p>Multiple values for a field should be separated by a pipe (|). Mulitple values for a field are treated as an OR condition. Example, fieldname1:value1|value2</p>","required":false,"type":"string"},{"name":"orderBy","in":"query","description":"The field name to order the results by.","required":false,"type":"string"},{"name":"orderByDirection","in":"query","description":"The direction to order the results by. ASC and DESC are valid values.","required":false,"type":"string"},{"name":"fields","in":"query","description":"Comma separated list of fields to return.","required":false,"type":"string"},{"name":"offset","in":"query","description":"Offset of the starting record. 0 indicates the first record.","required":false,"type":"integer","format":"int32"},{"name":"limit","in":"query","description":"Maximum records to return. The maximum value allowed is 50.","required":false,"type":"integer","format":"int32"},{"name":"modifiedStartDate","in":"query","description":"The modified on or after date.","required":false,"type":"string","format":"date-time"}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/ApplicationListResponse"}},"400":{"description":"BadRequest","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Unauthorized"},"429":{"description":"TooManyRequests"},"500":{"description":"InternalServerError"}}},"post":{"tags":["Applications"],"summary":"Create a new application and release","description":"Allowed Scopes: api-tenant, manage-apps","operationId":"ApplicationsV3_PostApplication","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded","multipart/form-data"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"requestModel","in":"body","description":"The application data","required":true,"schema":{"$ref":"#/definitions/PostApplicationRequest"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/PostApplicationResponse"}},"400":{"description":"BadRequest","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Unauthorized"},"422":{"description":"UnprocessableEntity","schema":{"$ref":"#/definitions/ErrorResponse"}},"429":{"description":"TooManyRequests"},"500":{"description":"InternalServerError"}}}},"/api/v3/applications/{applicationId}/auto-report":{"get":{"tags":["Applications"],"summary":"Returns the associated auto-run report type for the application.","description":"Allowed Scopes: api-tenant, view-apps","operationId":"ApplicationsV3_GetAutoReport","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"applicationId","in":"path","description":"The application id","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/GetAutoReportResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"NotFound"},"429":{"description":"TooManyRequests"},"500":{"description":"InternalServerError"}}},"post":{"tags":["Applications"],"summary":"Set-up the associated auto-run report for the application","description":"Allowed Scopes: api-tenant, manage-apps","operationId":"ApplicationsV3_PostAutoReport","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded","multipart/form-data"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"applicationId","in":"path","description":"The application id","required":true,"type":"integer","format":"int32"},{"name":"requestModel","in":"body","description":"The auto report data","required":true,"schema":{"$ref":"#/definitions/PostAutoReportRequest"}}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/PostAutoReportResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"NotFound"},"422":{"description":"UnprocessableEntity","schema":{"$ref":"#/definitions/PostAutoReportResponse"}},"429":{"description":"TooManyRequests"},"500":{"description":"InternalServerError"}}}},"/api/v3/applications/{applicationId}/users":{"get":{"tags":["Applications"],"summary":"Returns a list of users that have access to the application","description":"Allowed Scopes: api-tenant, view-apps","operationId":"ApplicationsV3_GetApplicationUsers","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"applicationId","in":"path","description":"The application id","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/GetApplicationUsersResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"NotFound"},"429":{"description":"TooManyRequests"},"500":{"description":"InternalServerError"}}}},"/api/v3/applications/{applicationId}/user-groups":{"get":{"tags":["Applications"],"summary":"Returns a list of user groups that have access to the application","description":"Allowed Scopes: api-tenant, view-apps","operationId":"ApplicationsV3_GetApplicationUserGroups","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"applicationId","in":"path","description":"The application id","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/GetApplicationUserGroupsResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"NotFound"},"429":{"description":"TooManyRequests"},"500":{"description":"InternalServerError"}}}},"/api/v3/applications/owners":{"get":{"tags":["Applications"],"summary":"Returns a list of users that can be set as an application owner","description":"Allowed Scopes: api-tenant, view-apps","operationId":"ApplicationsV3_GetApplicationOwners","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/ApplicationUserListResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"429":{"description":"TooManyRequests"},"500":{"description":"InternalServerError"}}}},"/api/v3/applications/{applicationId}/user-permissions":{"get":{"tags":["Applications"],"summary":"Returns the permissions the current user has for the application","description":"Allowed Scopes: api-tenant, view-apps","operationId":"ApplicationsV3_GetApplicationUserPermissions","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"applicationId","in":"path","description":"The application id","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/ApplicationUserPermissions"}},"401":{"description":"Unauthorized"},"404":{"description":"NotFound"},"429":{"description":"TooManyRequests"},"500":{"description":"InternalServerError"}}}},"/api/v3/applications/{applicationId}/releases":{"get":{"tags":["Applications"],"summary":"Returns a list of releases for the given application","description":"Allowed Scopes: api-tenant, view-apps","operationId":"ApplicationsV3_GetApplicationReleases","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"applicationId","in":"path","description":"The application id","required":true,"type":"integer","format":"int32"},{"name":"filters","in":"query","description":"<p>A delimited list of field filters.</p>\r\n<p>Field name and value should be separated by a colon (:).</p>\r\n<p>Multiple fields should be separated by a plus (+). Multiple fields are treated as an AND condition. Example, fieldname1:value+fieldname2:value</p>\r\n<p>Multiple values for a field should be separated by a pipe (|). Mulitple values for a field are treated as an OR condition. Example, fieldname1:value1|value2</p>","required":false,"type":"string"},{"name":"orderBy","in":"query","description":"The field name to order the results by.","required":false,"type":"string"},{"name":"orderByDirection","in":"query","description":"The direction to order the results by. ASC and DESC are valid values.","required":false,"type":"string"},{"name":"fields","in":"query","description":"Comma separated list of fields to return.","required":false,"type":"string"},{"name":"offset","in":"query","description":"Offset of the starting record. 0 indicates the first record.","required":false,"type":"integer","format":"int32"},{"name":"limit","in":"query","description":"Maximum records to return. The maximum value allowed is 50.","required":false,"type":"integer","format":"int32"},{"name":"modifiedStartDate","in":"query","description":"The modified on or after date.","required":false,"type":"string","format":"date-time"}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/ReleaseListResponse"}},"400":{"description":"BadRequest","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Unauthorized"},"429":{"description":"TooManyRequests"},"500":{"description":"InternalServerError"}}}},"/api/v3/applications/{applicationId}/scans":{"get":{"tags":["Applications"],"summary":"Returns a list of scans for the given application","description":"Allowed Scopes: api-tenant, view-apps","operationId":"ApplicationsV3_GetScansByApplicationId","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"applicationId","in":"path","description":"The application id","required":true,"type":"integer","format":"int32"},{"name":"orderBy","in":"query","description":"The field name to order the results by.","required":false,"type":"string"},{"name":"orderByDirection","in":"query","description":"The direction to order the results by. ASC and DESC are valid values.","required":false,"type":"string"},{"name":"fields","in":"query","description":"Comma separated list of fields to return.","required":false,"type":"string"},{"name":"offset","in":"query","description":"Offset of the starting record. 0 indicates the first record.","required":false,"type":"integer","format":"int32"},{"name":"limit","in":"query","description":"Maximum records to return. The maximum value allowed is 50.","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/ScanListResponse"}},"400":{"description":"BadRequest","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Unauthorized"},"404":{"description":"NotFound"},"429":{"description":"TooManyRequests"},"500":{"description":"InternalServerError"}}}},"/api/v3/applications/{applicationId}/bug-tracker":{"get":{"tags":["Applications"],"summary":"Returns the bug tracker settings for the given application","description":"Allowed Scopes: api-tenant, view-apps","operationId":"ApplicationsV3_GetApplicationBugTracker","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"applicationId","in":"path","description":"The application id","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/ApplicationBugTracker"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"NotFound"},"429":{"description":"TooManyRequests"},"500":{"description":"InternalServerError"}}}},"/api/v3/applications/{applicationId}/microservices":{"get":{"tags":["Applications"],"summary":"Retrieves a list of Microservices for an application","description":"Allowed Scopes: api-tenant, view-apps","operationId":"ApplicationsV3_GetApplicationMicroservices","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"applicationId","in":"path","description":"The application id","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/MicroserviceListResponse"}},"401":{"description":"Unauthorized"},"404":{"description":"NotFound"},"429":{"description":"TooManyRequests"},"500":{"description":"InternalServerError"}}},"post":{"tags":["Applications"],"summary":"Add a Microservice to an application","description":"Allowed Scopes: api-tenant, manage-apps","operationId":"ApplicationsV3_PostApplicationMicroservice","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded","multipart/form-data"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"applicationId","in":"path","description":"The application id","required":true,"type":"integer","format":"int32"},{"name":"requestModel","in":"body","description":"The microservice data","required":true,"schema":{"$ref":"#/definitions/MicroserviceName"}}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/PostMicroserviceResponse"}},"401":{"description":"Unauthorized"},"404":{"description":"NotFound"},"429":{"description":"TooManyRequests"},"500":{"description":"InternalServerError"}}}},"/api/v3/applications/{applicationId}/microservices/{microserviceId}":{"put":{"tags":["Applications"],"summary":"Edit a Microservice for an application","description":"Allowed Scopes: api-tenant, manage-apps","operationId":"ApplicationsV3_PutApplicationMicroservice","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded","multipart/form-data"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"applicationId","in":"path","description":"The application id","required":true,"type":"integer","format":"int32"},{"name":"microserviceId","in":"path","description":"The microservice id","required":true,"type":"integer","format":"int32"},{"name":"requestModel","in":"body","description":"The microservice data","required":true,"schema":{"$ref":"#/definitions/MicroserviceName"}}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/PostMicroserviceResponse"}},"401":{"description":"Unauthorized"},"404":{"description":"NotFound"},"429":{"description":"TooManyRequests"},"500":{"description":"InternalServerError"}}},"delete":{"tags":["Applications"],"summary":"Delete a Microservice for an application","description":"Allowed Scopes: api-tenant, manage-apps","operationId":"ApplicationsV3_DeleteApplicationMicroservice","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"applicationId","in":"path","description":"The application id","required":true,"type":"integer","format":"int32"},{"name":"microserviceId","in":"path","description":"The microservice id","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/PostMicroserviceResponse"}},"401":{"description":"Unauthorized"},"404":{"description":"NotFound"},"429":{"description":"TooManyRequests"},"500":{"description":"InternalServerError"}}}},"/api/v3/applications/{applicationId}/audittemplates":{"get":{"tags":["Applications"],"summary":"Returns a list of audit templates for the given application","description":"Allowed Scopes: api-tenant, manage-issues","operationId":"ApplicationsV3_GetAuditTemplates","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"applicationId","in":"path","description":"The application id","required":true,"type":"integer","format":"int32"},{"name":"scanType","in":"query","description":"The Application audit template filters wil be filtered by scan type (Ex : Static, Dynamic, Mobile, OpenSource)","required":false,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/AuditTemplateListResponse"}},"401":{"description":"Unauthorized"},"404":{"description":"NotFound"},"429":{"description":"TooManyRequests"},"500":{"description":"InternalServerError"}}},"put":{"tags":["Applications"],"summary":"Creates/Update Audit templates for the given application","description":"Allowed Scopes: api-tenant, manage-issues","operationId":"ApplicationsV3_PutApplicationAuditTemplates","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"applicationId","in":"path","required":true,"type":"integer","format":"int32"},{"name":"auditTemplatesRequest","in":"body","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/PutAuditTemplateFilterRequest"}}}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/AuditTemplateResponse"}},"400":{"description":"BadRequest","schema":{"$ref":"#/definitions/AuditTemplateResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"NotFound"},"429":{"description":"TooManyRequests"},"500":{"description":"InternalServerError"}}}},"/api/v3/attributes":{"get":{"tags":["Attributes"],"summary":"Retrieve a list of attributes","description":"Allowed Scopes: api-tenant, view-tenant-data","operationId":"AttributesV3_GetAttribute","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"filters","in":"query","description":"<p>A delimited list of field filters.</p>\r\n<p>Field name and value should be separated by a colon (:).</p>\r\n<p>Multiple fields should be separated by a plus (+). Multiple fields are treated as an AND condition. Example, fieldname1:value+fieldname2:value</p>\r\n<p>Multiple values for a field should be separated by a pipe (|). Mulitple values for a field are treated as an OR condition. Example, fieldname1:value1|value2</p>","required":false,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/AttributeItemListResponse"}},"401":{"description":"Unauthorized"},"429":{"description":"TooManyRequests"},"500":{"description":"InternalServerError"}}}},"/api/v3/audittemplate/globalaudittemplates":{"get":{"tags":["AuditTemplate"],"summary":"Returns a list of global audit templates","description":"Allowed Scopes: api-tenant, manage-issues","operationId":"AuditTemplateV3_GetGlobalAuditTemplates","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"scanType","in":"query","description":"The global audit template filters wil be filtered by scan type (Ex : Static, Dynamic, Mobile, OpenSource)","required":false,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/AuditTemplateListResponse"}},"401":{"description":"Unauthorized"},"404":{"description":"NotFound"},"429":{"description":"TooManyRequests"},"500":{"description":"InternalServerError"}}},"put":{"tags":["AuditTemplate"],"summary":"Creates/Update Global Audit templates","description":"Allowed Scopes: api-tenant, manage-issues","operationId":"AuditTemplateV3_PutGlobalAuditTemplates","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"auditTemplatesRequest","in":"body","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/PutAuditTemplateFilterRequest"}}}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/AuditTemplateResponse"}},"400":{"description":"BadRequest","schema":{"$ref":"#/definitions/AuditTemplateResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"NotFound"},"429":{"description":"TooManyRequests"},"500":{"description":"InternalServerError"}}}},"/api/v3/applications/digital-discovery/discovered":{"get":{"tags":["DigitalDiscovery"],"summary":"Retrieve a collection of discovered endpoints","description":"Allowed Scopes: api-tenant, view-apps","operationId":"DigitalDiscoveryV3_GetDiscoveredEndpoints","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"filters","in":"query","description":"<p>A delimited list of field filters.</p>\r\n<p>Field name and value should be separated by a colon (:).</p>\r\n<p>Multiple fields should be separated by a plus (+). Multiple fields are treated as an AND condition. Example, fieldname1:value+fieldname2:value</p>\r\n<p>Multiple values for a field should be separated by a pipe (|). Mulitple values for a field are treated as an OR condition. Example, fieldname1:value1|value2</p>","required":false,"type":"string"},{"name":"orderBy","in":"query","description":"The field name to order the results by.","required":false,"type":"string"},{"name":"orderByDirection","in":"query","description":"The direction to order the results by. ASC and DESC are valid values.","required":false,"type":"string"},{"name":"fields","in":"query","description":"Comma separated list of fields to return.","required":false,"type":"string"},{"name":"offset","in":"query","description":"Offset of the starting record. 0 indicates the first record.","required":false,"type":"integer","format":"int32"},{"name":"limit","in":"query","description":"Maximum records to return. The maximum value allowed is 50.","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/DiscoveredEndpointListResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"429":{"description":"TooManyRequests"},"500":{"description":"InternalServerError"}}}},"/api/v3/releases/{releaseId}/dynamic-scans/scan-setup":{"get":{"tags":["DynamicScans"],"summary":"Get dynamic scan setup details","description":"Allowed Scopes: api-tenant, start-scans","operationId":"DynamicScansV3_GetDynamicScanSetup","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"releaseId","in":"path","description":"","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/GetDynamicScanSetupResponse"}},"401":{"description":"Unauthorized"},"404":{"description":"NotFound"},"429":{"description":"TooManyRequests"},"500":{"description":"InternalServerError"}}},"put":{"tags":["DynamicScans"],"summary":"Saves dynamic scan setup details","description":"Allowed Scopes: api-tenant, start-scans","operationId":"DynamicScansV3_PutDynamicScanSetup","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded","multipart/form-data"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"releaseId","in":"path","description":"The release id","required":true,"type":"integer","format":"int32"},{"name":"requestModel","in":"body","description":"PutDynamicScanSetupRequest model","required":true,"schema":{"$ref":"#/definitions/PutDynamicScanSetupRequest"}}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/PutDynamicScanSetupResponse"}},"400":{"description":"BadRequest","schema":{"$ref":"#/definitions/PutDynamicScanSetupResponse"}},"401":{"description":"Unauthorized"},"422":{"description":"UnprocessableEntity","schema":{"$ref":"#/definitions/PutDynamicScanSetupResponse"}},"429":{"description":"TooManyRequests"},"500":{"description":"InternalServerError"}}}},"/api/v3/releases/{releaseId}/dynamic-scans/scan-setup/manifest":{"patch":{"tags":["DynamicScans"],"summary":"Uploads a web service manifest to the release","operationId":"DynamicScansV3_PatchDynamicScanManifestSetup","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"releaseId","in":"path","description":"The release id","required":true,"type":"integer","format":"int32"},{"name":"webServiceFileType","in":"query","description":"The web service type","required":true,"type":"string","enum":["Postman","OpenApi"]}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/PatchDynamicScanSetupManifestResponse"}},"400":{"description":"BadRequest","schema":{"$ref":"#/definitions/PatchDynamicScanSetupManifestResponse"}},"401":{"description":"Unauthorized"},"422":{"description":"UnprocessableEntity","schema":{"$ref":"#/definitions/PatchDynamicScanSetupManifestResponse"}},"429":{"description":"TooManyRequests"},"500":{"description":"InternalServerError"}}}},"/api/v3/releases/{releaseId}/dynamic-scans/start-scan":{"post":{"tags":["DynamicScans"],"summary":"Starts a dynamic scan using the current scan setup settings","description":"Allowed Scopes: api-tenant, start-scans","operationId":"DynamicScansV3_StartDynamicScan","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded","multipart/form-data"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"releaseId","in":"path","description":"Release Id of the scan to start","required":true,"type":"integer","format":"int32"},{"name":"requestModel","in":"body","description":"Options for starting the scan","required":true,"schema":{"$ref":"#/definitions/StartDynamicScanRequest"}}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/StartDynamicScanResponse"}},"400":{"description":"BadRequest","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Unauthorized"},"422":{"description":"UnprocessableEntity","schema":{"$ref":"#/definitions/ErrorResponse"}},"429":{"description":"TooManyRequests"},"500":{"description":"InternalServerError"}}}},"/api/v3/releases/{releaseId}/dynamic-scans/import-scan":{"put":{"tags":["DynamicScans"],"summary":"Saves the contents to import scan file","description":"Allowed Scopes: api-tenant, start-scans","operationId":"DynamicScansV3_PutImportScan","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"releaseId","in":"path","description":"Release Id of the scan to import","required":true,"type":"integer","format":"int32"},{"name":"fragNo","in":"query","description":"-1 indicates the fragment of bytes has been sent. The value starts with 0 and increments by 1 for each fragment of bytes sent","required":true,"type":"integer","format":"int64"},{"name":"offset","in":"query","description":"The offset of the bytes sent. 0 indicates the first bytes","required":true,"type":"integer","format":"int64"},{"name":"fileLength","in":"query","description":"The number of bytes of the file being imported","required":true,"type":"integer","format":"int64"},{"name":"importScanSessionId","in":"query","description":"The unique importScanSessionId to use for the session provided by GET /api/v3/releases/{releaseId}/import-scan-session-id","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/PutImportScanResponse"}},"202":{"description":"Accepted"},"400":{"description":"BadRequest","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"NotFound"},"500":{"description":"InternalServerError","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/api/v3/eventlogs/download":{"get":{"tags":["EventLogs"],"summary":"Download the last 24 hours event log data in csv format","description":"Allowed Scopes: api-tenant, view-tenant-data","operationId":"EventLogsV3_Download","consumes":[],"produces":["application/x-download"],"responses":{"200":{"description":"Ok","schema":{"type":"file"}},"204":{"description":"NoContent"},"401":{"description":"Unauthorized"},"429":{"description":"TooManyRequests"},"500":{"description":"InternalServerError"}}}},"/api/v3/lookup-items":{"get":{"tags":["LookupItems"],"summary":"<p>Returns a list of lookup items for the given type</p>\r\n<p>For LanguageLevels, group indicates the TechnologyTypeId</p>","description":"Allowed Scopes: api-tenant, view-tenant-data","operationId":"LookupItemsV3_GetLookupItems","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"type","in":"query","description":"The type of lookup items to return","required":false,"type":"string","enum":["All","MobileScanPlatformTypes","MobileScanFrameworkTypes","MobileScanEnvironmentTypes","MobileScanRoleTypes","MobileScanExternalDeviceTypes","DynamicScanEnvironmentFacingTypes","DynamicScanAuthenticationTypes","TimeZones","RepeatScheduleTypes","GeoLocations","SDLCStatusTypes","DayOfWeekTypes","BusinessCriticalityTypes","ReportTemplateTypes","AnalysisStatusTypes","ScanStatusTypes","ReportFormats","Roles","ScanPreferenceTypes","AuditPreferenceTypes","EntitlementFrequencyTypes","ApplicationTypes","ScanTypes","AttributeTypes","AttributeDataTypes","MultiFactorAuthorizationTypes","ReportTypes","ReportStatusTypes","PassFailReasonTypes","DynamicScanWebServiceTypes","VulnerabilitySeverityTypes","TechnologyTypes","LanguageLevels","AuditActionTypes","NotificationTriggerTypes","ConcurrentRequestThreadsTypes","MobileScanAuditPreferenceTypes","DataExportTypes","ScanMethodTypes","StartScanMethodTypes","AuditTemplateConditionTypes","OpenSourceScanTypeAuditTemplateFieldTypes","StaticScanTypeAuditTemplateFieldTypes","DynamicMobileScanTypeAuditTemplateFieldTypes"]}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/LookupItemListResponse"}},"401":{"description":"Unauthorized"},"429":{"description":"TooManyRequests"},"500":{"description":"InternalServerError"}}}},"/api/v3/releases/{releaseId}/mobile-scans/scan-setup":{"put":{"tags":["MobileScans"],"summary":"Saves mobile scan setup details","description":"Allowed Scopes: api-tenant, start-scans","operationId":"MobileScansV3_PutMobileScanSetup","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded","multipart/form-data"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"releaseId","in":"path","description":"The release id","required":true,"type":"integer","format":"int32"},{"name":"requestModel","in":"body","description":"PutMobileScanRequest model","required":true,"schema":{"$ref":"#/definitions/PutMobileScanSetupRequest"}}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/PutMobileScanSetupResponse"}},"400":{"description":"BadRequest","schema":{"$ref":"#/definitions/PutMobileScanSetupResponse"}},"401":{"description":"Unauthorized"},"422":{"description":"UnprocessableEntity","schema":{"$ref":"#/definitions/PutMobileScanSetupResponse"}},"429":{"description":"TooManyRequests"},"500":{"description":"InternalServerError"}}}},"/api/v3/releases/{releaseId}/mobile-scans/start-scan":{"post":{"tags":["MobileScans"],"summary":"Starts a mobile scan for the given release","description":"Allowed Scopes: api-tenant, start-scans","operationId":"MobileScansV3_Scan","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"releaseId","in":"path","description":"The release id","required":true,"type":"integer","format":"int32"},{"name":"startDate","in":"query","description":"The start date for the scan in MM/dd/yyyy HH:mm format","required":true,"type":"string","format":"date-time"},{"name":"assessmentTypeId","in":"query","description":"The assessment type id for the scan","required":true,"type":"integer","format":"int32"},{"name":"frameworkType","in":"query","description":"The framework type id. Only iOS and Android are supported at this time","required":true,"type":"string","enum":["iOS","Android","Windows","BlackBerry"]},{"name":"timeZone","in":"query","description":"The time zone","required":true,"type":"string"},{"name":"fragNo","in":"query","description":"-1 indicates the fragment of bytes has been sent. The value starts with 0 and increments by 1 for each fragment of bytes sent","required":true,"type":"integer","format":"int64"},{"name":"offset","in":"query","description":"The offset of the bytes sent. 0 indicates the first bytes","required":true,"type":"integer","format":"int64"},{"name":"entitlementId","in":"query","description":"The entitlement id to consume","required":true,"type":"integer","format":"int32"},{"name":"entitlementFrequencyType","in":"query","description":"The entitlement frequency type","required":true,"type":"string","enum":["SingleScan","Subscription"]},{"name":"platformType","in":"query","description":"The platform type","required":false,"type":"string","enum":["Phone","Tablet","Both"]},{"name":"isRemediationScan","in":"query","description":"Indicates if the scan is a remediation scan","required":false,"type":"boolean"},{"name":"isBundledAssessment","in":"query","description":"Indicates if the assessment is a bundled assessment. If not supplied legacy behavior will apply","required":false,"type":"boolean"},{"name":"parentAssessmentTypeId","in":"query","description":"The parent assessment type id for the bundled assessment. If not supplied legacy behavior will apply","required":false,"type":"integer","format":"int32"},{"name":"scanMethodType","in":"query","description":"The method of starting a scan","required":false,"type":"string","enum":["IDE","CICD","Other"]},{"name":"scanTool","in":"query","description":"The tool used for scanning","required":false,"type":"string"},{"name":"scanToolVersion","in":"query","description":"The version for the scan tool used for scanning","required":false,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/PostMobileScanResponse"}},"202":{"description":"Accepted"},"400":{"description":"BadRequest","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"NotFound"},"422":{"description":"UnprocessableEntity","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"InternalServerError","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/api/v3/releases/{releaseId}/mobile-scans/import-scan":{"put":{"tags":["MobileScans"],"summary":"Saves the contents to import scan file","description":"Allowed Scopes: api-tenant, start-scans","operationId":"MobileScansV3_PutImportScan","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"releaseId","in":"path","description":"Release Id of the scan to import","required":true,"type":"integer","format":"int32"},{"name":"fragNo","in":"query","description":"-1 indicates the fragment of bytes has been sent. The value starts with 0 and increments by 1 for each fragment of bytes sent","required":true,"type":"integer","format":"int64"},{"name":"offset","in":"query","description":"The offset of the bytes sent. 0 indicates the first bytes","required":true,"type":"integer","format":"int64"},{"name":"fileLength","in":"query","description":"The number of bytes of the file being imported","required":true,"type":"integer","format":"int64"},{"name":"importScanSessionId","in":"query","description":"The unique importScanSessionId to use for the session provided by GET /api/v3/releases/{releaseId}/import-scan-session-id","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/PutImportScanResponse"}},"202":{"description":"Accepted"},"400":{"description":"BadRequest","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"NotFound"},"500":{"description":"InternalServerError","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/api/v3/multi-factor-authorization-code":{"post":{"tags":["MultiFactorAuthorizationCode"],"summary":"Send an Authorization code","operationId":"MultiFactorAuthorizationCodeV3_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded","multipart/form-data"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"requestModel","in":"body","description":"the username, password, and authorization method","required":true,"schema":{"$ref":"#/definitions/PostMultiFactorAuthorizationCodeRequest"}}],"responses":{"204":{"description":"NoContent"},"400":{"description":"BadRequest","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Unauthorized"},"422":{"description":"UnprocessableEntity","schema":{"$ref":"#/definitions/ErrorResponse"}},"429":{"description":"TooManyRequests"},"500":{"description":"InternalServerError"}}}},"/api/v3/notifications/unread":{"get":{"tags":["Notifications"],"summary":"Get a list of unread notifications","description":"Allowed Scopes: api-tenant, manage-notifications","operationId":"NotificationsV3_GetUnreadNotifications","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"filters","in":"query","description":"<p>A delimited list of field filters.</p>\r\n<p>Field name and value should be separated by a colon (:).</p>\r\n<p>Multiple fields should be separated by a plus (+). Multiple fields are treated as an AND condition. Example, fieldname1:value+fieldname2:value</p>\r\n<p>Multiple values for a field should be separated by a pipe (|). Mulitple values for a field are treated as an OR condition. Example, fieldname1:value1|value2</p>","required":false,"type":"string"},{"name":"orderBy","in":"query","description":"The field name to order the results by.","required":false,"type":"string"},{"name":"orderByDirection","in":"query","description":"The direction to order the results by. ASC and DESC are valid values.","required":false,"type":"string"},{"name":"fields","in":"query","description":"Comma separated list of fields to return.","required":false,"type":"string"},{"name":"offset","in":"query","description":"Offset of the starting record. 0 indicates the first record.","required":false,"type":"integer","format":"int32"},{"name":"limit","in":"query","description":"Maximum records to return. The maximum value allowed is 50.","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/NotificationListResponse"}},"400":{"description":"BadRequest","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Unauthorized"},"429":{"description":"TooManyRequests"},"500":{"description":"InternalServerError"}}}},"/api/v3/notifications/read":{"get":{"tags":["Notifications"],"summary":"Get a list of read notifications","description":"Allowed Scopes: api-tenant, manage-notifications","operationId":"NotificationsV3_GetReadNotifications","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"filters","in":"query","description":"<p>A delimited list of field filters.</p>\r\n<p>Field name and value should be separated by a colon (:).</p>\r\n<p>Multiple fields should be separated by a plus (+). Multiple fields are treated as an AND condition. Example, fieldname1:value+fieldname2:value</p>\r\n<p>Multiple values for a field should be separated by a pipe (|). Mulitple values for a field are treated as an OR condition. Example, fieldname1:value1|value2</p>","required":false,"type":"string"},{"name":"orderBy","in":"query","description":"The field name to order the results by.","required":false,"type":"string"},{"name":"orderByDirection","in":"query","description":"The direction to order the results by. ASC and DESC are valid values.","required":false,"type":"string"},{"name":"fields","in":"query","description":"Comma separated list of fields to return.","required":false,"type":"string"},{"name":"offset","in":"query","description":"Offset of the starting record. 0 indicates the first record.","required":false,"type":"integer","format":"int32"},{"name":"limit","in":"query","description":"Maximum records to return. The maximum value allowed is 50.","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/NotificationListResponse"}},"400":{"description":"BadRequest","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Unauthorized"},"429":{"description":"TooManyRequests"},"500":{"description":"InternalServerError"}}}},"/api/v3/notifications/markasread":{"post":{"tags":["Notifications"],"summary":"Marks the notification(s) as read","description":"Allowed Scopes: api-tenant, manage-notifications","operationId":"NotificationsV3_MarkNotificaitonsAsRead","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded","multipart/form-data"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"requestModel","in":"body","description":"MarkNotificaitonsAsReadRequest model","required":true,"schema":{"$ref":"#/definitions/MarkNotificaitonsAsReadRequest"}}],"responses":{"204":{"description":"NoContent"},"401":{"description":"Unauthorized"},"429":{"description":"TooManyRequests"},"500":{"description":"InternalServerError"}}}},"/api/v3/applications/open-source-components":{"get":{"tags":["OpenSourceComponents"],"summary":"Retrieve a collection of open source components.","description":"Allowed Scopes: api-tenant, view-tenant-data","operationId":"OpenSourceComponentsV3_GetOpenSourceComponents","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"openSourceScanType","in":"query","description":"The source of component data.","required":false,"type":"string","enum":["BlackDuck","Sonatype"]},{"name":"filters","in":"query","description":"<p>A delimited list of field filters.</p>\r\n<p>Field name and value should be separated by a colon (:).</p>\r\n<p>Multiple fields should be separated by a plus (+). Multiple fields are treated as an AND condition. Example, fieldname1:value+fieldname2:value</p>\r\n<p>Multiple values for a field should be separated by a pipe (|). Mulitple values for a field are treated as an OR condition. Example, fieldname1:value1|value2</p>","required":false,"type":"string"},{"name":"orderBy","in":"query","description":"The field name to order the results by.","required":false,"type":"string"},{"name":"orderByDirection","in":"query","description":"The direction to order the results by. ASC and DESC are valid values.","required":false,"type":"string"},{"name":"fields","in":"query","description":"Comma separated list of fields to return.","required":false,"type":"string"},{"name":"offset","in":"query","description":"Offset of the starting record. 0 indicates the first record.","required":false,"type":"integer","format":"int32"},{"name":"limit","in":"query","description":"Maximum records to return. The maximum value allowed is 50.","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/OpenSourceComponentListResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"429":{"description":"TooManyRequests"},"500":{"description":"InternalServerError"}}}},"/api/v3/releases/{releaseId}":{"get":{"tags":["Releases"],"summary":"Returns the specific release","description":"Allowed Scopes: api-tenant, view-apps","operationId":"ReleasesV3_GetRelease","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"releaseId","in":"path","description":"The release id","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/Release"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"NotFound"},"429":{"description":"TooManyRequests"},"500":{"description":"InternalServerError"}}},"put":{"tags":["Releases"],"summary":"Updates an existing release","description":"Allowed Scopes: api-tenant, manage-apps","operationId":"ReleasesV3_PutRelease","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded","multipart/form-data"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"releaseId","in":"path","description":"The release id","required":true,"type":"integer","format":"int32"},{"name":"requestModel","in":"body","description":"PutReleaseRequest model","required":true,"schema":{"$ref":"#/definitions/PutReleaseRequest"}}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/PutReleaseResponse"}},"400":{"description":"BadRequest","schema":{"$ref":"#/definitions/PutReleaseResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"NotFound"},"422":{"description":"UnprocessableEntity","schema":{"$ref":"#/definitions/PutReleaseResponse"}},"429":{"description":"TooManyRequests"},"500":{"description":"InternalServerError"}}},"delete":{"tags":["Releases"],"summary":"Deletes the given release","description":"Allowed Scopes: api-tenant, manage-apps","operationId":"ReleasesV3_DeleteRelease","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"releaseId","in":"path","description":"The release id","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/DeleteReleaseResponse"}},"400":{"description":"BadRequest","schema":{"$ref":"#/definitions/DeleteReleaseResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"NotFound"},"429":{"description":"TooManyRequests"},"500":{"description":"InternalServerError"}}}},"/api/v3/releases":{"get":{"tags":["Releases"],"summary":"Returns a list of releases","description":"Allowed Scopes: api-tenant, view-apps","operationId":"ReleasesV3_GetReleases","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"filters","in":"query","description":"<p>A delimited list of field filters.</p>\r\n<p>Field name and value should be separated by a colon (:).</p>\r\n<p>Multiple fields should be separated by a plus (+). Multiple fields are treated as an AND condition. Example, fieldname1:value+fieldname2:value</p>\r\n<p>Multiple values for a field should be separated by a pipe (|). Mulitple values for a field are treated as an OR condition. Example, fieldname1:value1|value2</p>","required":false,"type":"string"},{"name":"orderBy","in":"query","description":"The field name to order the results by.","required":false,"type":"string"},{"name":"orderByDirection","in":"query","description":"The direction to order the results by. ASC and DESC are valid values.","required":false,"type":"string"},{"name":"fields","in":"query","description":"Comma separated list of fields to return.","required":false,"type":"string"},{"name":"offset","in":"query","description":"Offset of the starting record. 0 indicates the first record.","required":false,"type":"integer","format":"int32"},{"name":"limit","in":"query","description":"Maximum records to return. The maximum value allowed is 50.","required":false,"type":"integer","format":"int32"},{"name":"modifiedStartDate","in":"query","description":"The modified on or after date.","required":false,"type":"string","format":"date-time"}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/ReleaseListResponse"}},"400":{"description":"BadRequest","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"NotFound"},"429":{"description":"TooManyRequests"},"500":{"description":"InternalServerError"}}},"post":{"tags":["Releases"],"summary":"Creates a new release","description":"Allowed Scopes: api-tenant, manage-apps","operationId":"ReleasesV3_PostRelease","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded","multipart/form-data"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"requestModel","in":"body","description":"PostReleaseRequest model","required":true,"schema":{"$ref":"#/definitions/PostReleaseRequest"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/PostReleaseResponse"}},"400":{"description":"BadRequest","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Unauthorized"},"422":{"description":"UnprocessableEntity","schema":{"$ref":"#/definitions/ErrorResponse"}},"429":{"description":"TooManyRequests"},"500":{"description":"InternalServerError"}}}},"/api/v3/releases/{releaseId}/fpr":{"get":{"tags":["Releases"],"summary":"Get the fpr for the given release","description":"Allowed Scopes: api-tenant, view-issues","operationId":"ReleasesV3_GetReleasesFPR","consumes":[],"produces":["application/octet-stream"],"parameters":[{"name":"releaseId","in":"path","description":"The release id","required":true,"type":"integer","format":"int32"},{"name":"scanType","in":"query","description":"The scan type","required":true,"type":"string","enum":["Static","Dynamic","Mobile","Monitoring","Network","OpenSource","Container"]}],"responses":{"200":{"description":"Ok","schema":{"type":"file"}},"202":{"description":"Accepted","schema":{"$ref":"#/definitions/ErrorResponse"}},"400":{"description":"BadRequest","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"NotFound"},"429":{"description":"TooManyRequests"},"500":{"description":"InternalServerError"}}}},"/api/v3/releases/{releaseId}/category-rollups":{"get":{"tags":["Releases"],"summary":"List and count of vulnerabilities categories, by severity for this release","description":"Allowed Scopes: api-tenant, view-apps","operationId":"ReleasesV3_CategoryRollups","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"releaseId","in":"path","description":"The release id","required":true,"type":"integer","format":"int32"},{"name":"orderBy","in":"query","description":"The field name to order the results by.","required":false,"type":"string"},{"name":"orderByDirection","in":"query","description":"The direction to order the results by. ASC and DESC are valid values.","required":false,"type":"string"},{"name":"showFixed","in":"query","description":"Indicates of vulnerabilities marked as fixed should be included","required":false,"type":"boolean"},{"name":"vulnerabilitiesSeverityType","in":"query","required":false,"type":"string","enum":["Low","Medium","High","Critical","Best_Practice","Info"]}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/CategoryRollupsResponse"}},"400":{"description":"BadRequest","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"NotFound"},"429":{"description":"TooManyRequests"},"500":{"description":"InternalServerError"}}}},"/api/v3/releases/{releaseId}/scans/{scanId}":{"get":{"tags":["Releases"],"summary":"Returns summary information for the requested scan id","description":"Allowed Scopes: api-tenant, view-apps","operationId":"ReleasesV3_GetReleaseScan","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"releaseId","in":"path","description":"The release id","required":true,"type":"integer","format":"int32"},{"name":"scanId","in":"path","description":"The scan id","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/Scan"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"NotFound"},"429":{"description":"TooManyRequests"},"500":{"description":"InternalServerError"}}}},"/api/v3/releases/{releaseId}/scans":{"get":{"tags":["Releases"],"summary":"Get a list of scans for a release","description":"Allowed Scopes: api-tenant, view-apps","operationId":"ReleasesV3_GetScansByReleaseId","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"releaseId","in":"path","description":"The release id","required":true,"type":"integer","format":"int32"},{"name":"orderBy","in":"query","description":"The field name to order the results by.","required":false,"type":"string"},{"name":"orderByDirection","in":"query","description":"The direction to order the results by. ASC and DESC are valid values.","required":false,"type":"string"},{"name":"fields","in":"query","description":"Comma separated list of fields to return.","required":false,"type":"string"},{"name":"offset","in":"query","description":"Offset of the starting record. 0 indicates the first record.","required":false,"type":"integer","format":"int32"},{"name":"limit","in":"query","description":"Maximum records to return. The maximum value allowed is 50.","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/ScanListResponse"}},"400":{"description":"BadRequest","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"NotFound"},"429":{"description":"TooManyRequests"},"500":{"description":"InternalServerError"}}}},"/api/v3/releases/{releaseId}/audit-action":{"post":{"tags":["Releases"],"summary":"Sets the audit action for the given release","description":"Allowed Scopes: api-tenant, manage-issues","operationId":"ReleasesV3_PostAuditAction","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded","multipart/form-data"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"releaseId","in":"path","description":"The release id","required":true,"type":"integer","format":"int32"},{"name":"requestModel","in":"body","description":"PostAuditActionRequest model","required":true,"schema":{"$ref":"#/definitions/PostAuditActionRequest"}}],"responses":{"204":{"description":"NoContent"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"NotFound"},"429":{"description":"TooManyRequests"},"500":{"description":"InternalServerError"}}}},"/api/v3/releases/{releaseId}/audit-options":{"get":{"tags":["Releases"],"summary":"Get audit options for the given release","description":"Allowed Scopes: api-tenant, manage-issues","operationId":"ReleasesV3_GetAuditOptions","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"releaseId","in":"path","description":"The release id","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/GetAuditOptionsResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"NotFound"},"429":{"description":"TooManyRequests"},"500":{"description":"InternalServerError"}}}},"/api/v3/releases/{releaseId}/static-scan-options":{"get":{"tags":["Releases"],"summary":"Get a list of options available for starting a static scan","description":"Allowed Scopes: api-tenant, start-scans","operationId":"ReleasesV3_GetStaticScanOptions","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"releaseId","in":"path","description":"The release id","required":true,"type":"integer","format":"int32"},{"name":"technologyStack","in":"query","description":"<p>The technology stack</p>\r\n<p>Values can be obtained by calling GET /api/v3/lookup-items?type=TechnologyTypes</p>","required":true,"type":"string"},{"name":"languageLevel","in":"query","description":"<p>The lanaguage level</p>\r\n<p>Values can be obtained by calling GET /api/v3/lookup-items?type=LanguageLevels</p>","required":false,"type":"string"},{"name":"assessmentTypeId","in":"query","description":"<p>The assessment type id for the scan</p>\r\n<p>If this parameter is supplied entitlementFrequencyType is also required</p>","required":false,"type":"integer","format":"int32"},{"name":"entitlementFrequencyType","in":"query","description":"<p>The entitlement frequency type</p>\r\n<p>If this parameter is supplied assessmentTypeId is also required</p>","required":false,"type":"string","enum":["SingleScan","Subscription"]}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/GetStaticScanOptionsResponse"}},"400":{"description":"BadRequest","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"NotFound"},"429":{"description":"TooManyRequests"},"500":{"description":"InternalServerError"}}}},"/api/v3/releases/{releaseId}/assessment-types":{"get":{"tags":["Releases"],"summary":"Get a list of available assessment types for the given release","description":"Allowed Scopes: api-tenant, start-scans","operationId":"ReleasesV3_GetAssessmentTypes","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"releaseId","in":"path","description":"The release id","required":true,"type":"integer","format":"int32"},{"name":"scanType","in":"query","description":"The scan type","required":true,"type":"string","enum":["Static","Dynamic","Mobile","Monitoring","Network","OpenSource","Container"]},{"name":"filters","in":"query","description":"<p>A delimited list of field filters.</p>\r\n<p>Field name and value should be separated by a colon (:).</p>\r\n<p>Multiple fields should be separated by a plus (+). Multiple fields are treated as an AND condition. Example, fieldname1:value+fieldname2:value</p>\r\n<p>Multiple values for a field should be separated by a pipe (|). Mulitple values for a field are treated as an OR condition. Example, fieldname1:value1|value2</p>","required":false,"type":"string"},{"name":"orderBy","in":"query","description":"The field name to order the results by.","required":false,"type":"string"},{"name":"orderByDirection","in":"query","description":"The direction to order the results by. ASC and DESC are valid values.","required":false,"type":"string"},{"name":"fields","in":"query","description":"Comma separated list of fields to return.","required":false,"type":"string"},{"name":"offset","in":"query","description":"Offset of the starting record. 0 indicates the first record.","required":false,"type":"integer","format":"int32"},{"name":"limit","in":"query","description":"Maximum records to return. The maximum value allowed is 50.","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/ReleaseAssessmentTypeListResponse"}},"400":{"description":"BadRequest","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"NotFound"},"429":{"description":"TooManyRequests"},"500":{"description":"InternalServerError"}}}},"/api/v3/releases/{releaseId}/import-scan-session-id":{"get":{"tags":["Releases"],"summary":"Initiates an import scan session","description":"Allowed Scopes: api-tenant, start-scans","operationId":"ReleasesV3_GetImportScanSessionId","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"releaseId","in":"path","description":"Release Id of the scan to import","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/GetImportScanSessionIdResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"NotFound"},"429":{"description":"TooManyRequests"},"500":{"description":"InternalServerError"}}}},"/api/v3/releases/{releaseId}/scans/{scanId}/cancel-scan":{"post":{"tags":["Releases"],"summary":"Cancels a scan","description":"Allowed Scopes: api-tenant, start-scans","operationId":"ReleasesV3_PostCancelScan","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"releaseId","in":"path","description":"The release id","required":true,"type":"integer","format":"int32"},{"name":"scanId","in":"path","description":"The scan id","required":true,"type":"integer","format":"int32"}],"responses":{"202":{"description":"Accepted","schema":{"$ref":"#/definitions/PostCancelScanResponse"}},"400":{"description":"BadRequest","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"NotFound"},"429":{"description":"TooManyRequests"},"500":{"description":"InternalServerError"}}}},"/api/v3/releases/{releaseId}/static-scan-bsi-token":{"get":{"tags":["Releases"],"summary":"Get the build server integration token for the given release","description":"Allowed Scopes: api-tenant, start-scans","operationId":"ReleasesV3_GetStaticScanBSIToken","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"releaseId","in":"path","description":"The release id","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/GetStaticScanBSITokenResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"NotFound"},"429":{"description":"TooManyRequests"},"500":{"description":"InternalServerError"}}}},"/api/v3/reports/{reportId}":{"get":{"tags":["Reports"],"summary":"Get report summary data for the given report","description":"Allowed Scopes: api-tenant, view-reports","operationId":"ReportsV3_GetReport","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"reportId","in":"path","description":"The report id","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/Report"}},"401":{"description":"Unauthorized"},"404":{"description":"NotFound"},"429":{"description":"TooManyRequests"},"500":{"description":"InternalServerError"}}},"delete":{"tags":["Reports"],"summary":"Delete a report","description":"Allowed Scopes: api-tenant, manage-reports","operationId":"ReportsV3_Delete","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"reportId","in":"path","description":"The report id","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/DeleteReportResponse"}},"400":{"description":"BadRequest","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Unauthorized"},"429":{"description":"TooManyRequests"},"500":{"description":"InternalServerError"}}}},"/api/v3/reports":{"get":{"tags":["Reports"],"summary":"Get a list of report summary data","description":"Allowed Scopes: api-tenant, view-reports","operationId":"ReportsV3_GetReports","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"filters","in":"query","description":"<p>A delimited list of field filters.</p>\r\n<p>Field name and value should be separated by a colon (:).</p>\r\n<p>Multiple fields should be separated by a plus (+). Multiple fields are treated as an AND condition. Example, fieldname1:value+fieldname2:value</p>\r\n<p>Multiple values for a field should be separated by a pipe (|). Mulitple values for a field are treated as an OR condition. Example, fieldname1:value1|value2</p>","required":false,"type":"string"},{"name":"orderBy","in":"query","description":"The field name to order the results by.","required":false,"type":"string"},{"name":"orderByDirection","in":"query","description":"The direction to order the results by. ASC and DESC are valid values.","required":false,"type":"string"},{"name":"fields","in":"query","description":"Comma separated list of fields to return.","required":false,"type":"string"},{"name":"offset","in":"query","description":"Offset of the starting record. 0 indicates the first record.","required":false,"type":"integer","format":"int32"},{"name":"limit","in":"query","description":"Maximum records to return. The maximum value allowed is 50.","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/ReportListResponse"}},"400":{"description":"BadRequest","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Unauthorized"},"429":{"description":"TooManyRequests"},"500":{"description":"InternalServerError"}}},"post":{"tags":["Reports"],"summary":"Create a new report","description":"Allowed Scopes: api-tenant, manage-reports","operationId":"ReportsV3_PostReport","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded","multipart/form-data"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"requestModel","in":"body","description":"PostReportRequest model","required":true,"schema":{"$ref":"#/definitions/PostReportRequest"}}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/PostReportResponse"}},"400":{"description":"BadRequest","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Unauthorized"},"422":{"description":"UnprocessableEntity","schema":{"$ref":"#/definitions/ErrorResponse"}},"429":{"description":"TooManyRequests"},"500":{"description":"InternalServerError"}}}},"/api/v3/reports/{reportId}/download":{"get":{"tags":["Reports"],"summary":"Download the report in binary format","description":"Allowed Scopes: api-tenant, view-reports","operationId":"ReportsV3_Download","consumes":[],"produces":["application/octet-stream"],"parameters":[{"name":"reportId","in":"path","description":"The report id","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Ok","schema":{"type":"file"}},"400":{"description":"BadRequest"},"401":{"description":"Unauthorized"},"404":{"description":"NotFound"},"429":{"description":"TooManyRequests"},"500":{"description":"InternalServerError"}}}},"/api/v3/reports/dataexports":{"get":{"tags":["Reports"],"summary":"Get a list of export report summary data","description":"Allowed Scopes: api-tenant, view-reports","operationId":"ReportsV3_GetDataExports","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"filters","in":"query","description":"<p>A delimited list of field filters.</p>\r\n<p>Field name and value should be separated by a colon (:).</p>\r\n<p>Multiple fields should be separated by a plus (+). Multiple fields are treated as an AND condition. Example, fieldname1:value+fieldname2:value</p>\r\n<p>Multiple values for a field should be separated by a pipe (|). Mulitple values for a field are treated as an OR condition. Example, fieldname1:value1|value2</p>","required":false,"type":"string"},{"name":"orderBy","in":"query","description":"The field name to order the results by.","required":false,"type":"string"},{"name":"orderByDirection","in":"query","description":"The direction to order the results by. ASC and DESC are valid values.","required":false,"type":"string"},{"name":"fields","in":"query","description":"Comma separated list of fields to return.","required":false,"type":"string"},{"name":"offset","in":"query","description":"Offset of the starting record. 0 indicates the first record.","required":false,"type":"integer","format":"int32"},{"name":"limit","in":"query","description":"Maximum records to return. The maximum value allowed is 50.","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/DataExportListResponse"}},"400":{"description":"BadRequest","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"429":{"description":"TooManyRequests"},"500":{"description":"InternalServerError"}}}},"/api/v3/reports/dataexports/{dataExportId}/download":{"get":{"tags":["Reports"],"summary":"Download the export report in binary format","description":"Allowed Scopes: api-tenant, view-reports","operationId":"ReportsV3_DownloadExport","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"dataExportId","in":"path","description":"The data export id","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Ok","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"NotFound"},"429":{"description":"TooManyRequests"},"500":{"description":"InternalServerError"}}}},"/api/v3/scans":{"get":{"tags":["Scans"],"summary":"Returns a list of scans","description":"Allowed Scopes: api-tenant, view-apps","operationId":"ScansV3_GetScans","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"startedOnStartDate","in":"query","description":"The started on start date.","required":false,"type":"string","format":"date-time"},{"name":"startedOnEndDate","in":"query","description":"The started on end date.","required":false,"type":"string","format":"date-time"},{"name":"completedOnStartDate","in":"query","description":"The completed on start date.","required":false,"type":"string","format":"date-time"},{"name":"completedOnEndDate","in":"query","description":"The completed on end date.","required":false,"type":"string","format":"date-time"},{"name":"modifiedStartDate","in":"query","description":"The modified on or after date.","required":false,"type":"string","format":"date-time"},{"name":"orderBy","in":"query","description":"The field name to order the results by.","required":false,"type":"string"},{"name":"orderByDirection","in":"query","description":"The direction to order the results by. ASC and DESC are valid values.","required":false,"type":"string"},{"name":"fields","in":"query","description":"Comma separated list of fields to return.","required":false,"type":"string"},{"name":"offset","in":"query","description":"Offset of the starting record. 0 indicates the first record.","required":false,"type":"integer","format":"int32"},{"name":"limit","in":"query","description":"Maximum records to return. The maximum value allowed is 50.","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/ScanListResponse"}},"400":{"description":"BadRequest","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Unauthorized"},"404":{"description":"NotFound"},"429":{"description":"TooManyRequests"},"500":{"description":"InternalServerError"}}}},"/api/v3/scans/{scanId}/summary":{"get":{"tags":["Scans"],"summary":"Returns summary information for the requested scan id","description":"Allowed Scopes: api-tenant, view-apps","operationId":"ScansV3_GetScanSummary","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"scanId","in":"path","description":"The scan id","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/ScanSummary"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"NotFound"},"429":{"description":"TooManyRequests"},"500":{"description":"InternalServerError"}}}},"/api/v3/scans/{scanId}/manifest":{"get":{"tags":["Scans"],"summary":"Download the scan manifest","description":"Allowed Scopes: api-tenant, view-apps","operationId":"ScansV3_DownloadManifest","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"scanId","in":"path","description":"The scan id","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Ok","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"404":{"description":"NotFound"},"429":{"description":"TooManyRequests"},"500":{"description":"InternalServerError"}}}},"/api/v3/scans/{scanId}/site-tree":{"get":{"tags":["Scans"],"summary":"Get the site tree","description":"Allowed Scopes: api-tenant, view-reports","operationId":"ScansV3_GetSiteTree","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"scanId","in":"path","description":"The scan id","required":true,"type":"integer","format":"int32"},{"name":"orderBy","in":"query","description":"The field name to order the results by.","required":false,"type":"string"},{"name":"orderByDirection","in":"query","description":"The direction to order the results by. ASC and DESC are valid values.","required":false,"type":"string"},{"name":"fields","in":"query","description":"Comma separated list of fields to return.","required":false,"type":"string"},{"name":"offset","in":"query","description":"Offset of the starting record. 0 indicates the first record.","required":false,"type":"integer","format":"int32"},{"name":"limit","in":"query","description":"Maximum records to return. The maximum value allowed is 50.","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/SiteTreeListResponse"}},"401":{"description":"Unauthorized"},"404":{"description":"NotFound"},"429":{"description":"TooManyRequests"},"500":{"description":"InternalServerError"}}}},"/api/v3/releases/{releaseId}/static-scans/start-scan":{"post":{"tags":["StaticScans"],"summary":"Start a static scan","description":"Allowed Scopes: api-tenant, start-scans","operationId":"StaticScansV3_StartScan","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"releaseId","in":"path","description":"The release id","required":true,"type":"integer","format":"int32"},{"name":"assessmentTypeId","in":"query","description":"The assessment type id for the scan","required":true,"type":"integer","format":"int32"},{"name":"technologyStack","in":"query","description":"The technology stack","required":true,"type":"string"},{"name":"fragNo","in":"query","description":"-1 indicates the fragment of bytes has been sent. The value starts with 0 and increments by 1 for each fragment of bytes sent","required":true,"type":"integer","format":"int64"},{"name":"offset","in":"query","description":"The offset of the bytes sent. 0 indicates the first bytes","required":true,"type":"integer","format":"int64"},{"name":"entitlementId","in":"query","description":"The entitlement id to consume","required":true,"type":"integer","format":"int32"},{"name":"entitlementFrequencyType","in":"query","description":"The entitlement frequency type","required":true,"type":"string","enum":["SingleScan","Subscription"]},{"name":"languageLevel","in":"query","description":"The language level","required":false,"type":"string"},{"name":"isRemediationScan","in":"query","description":"Indicates of the scan is a remediation scan","required":false,"type":"boolean"},{"name":"doSonatypeScan","in":"query","description":"Indicates if a sonatype scan should be included","required":false,"type":"boolean"},{"name":"excludeThirdPartyLibs","in":"query","description":"Indicates if third party libraries should be excluded","required":false,"type":"boolean"},{"name":"scanPreferenceType","in":"query","description":"This parameter is depcrecated.","required":false,"type":"string","enum":["Standard","Express"]},{"name":"auditPreferenceType","in":"query","description":"The audit preference type","required":false,"type":"string","enum":["Manual","Automated"]},{"name":"isBundledAssessment","in":"query","description":"Indicates if the assessment is a bundled assessment. If not supplied legacy behavior will apply","required":false,"type":"boolean"},{"name":"parentAssessmentTypeId","in":"query","description":"The parent assessment type id for the bundled assessment. If not supplied legacy behavior will apply","required":false,"type":"integer","format":"int32"},{"name":"notes","in":"query","description":"The notes about the scan.","required":false,"type":"string"},{"name":"scanMethodType","in":"query","description":"The method of starting a scan","required":false,"type":"string","enum":["IDE","CICD","Other"]},{"name":"scanTool","in":"query","description":"The tool used for scanning","required":false,"type":"string"},{"name":"scanToolVersion","in":"query","description":"The version for the scan tool used for scanning","required":false,"type":"string"},{"name":"doBinaryScan","in":"query","description":"Indicates that mixed mode scanning should be used","required":false,"type":"boolean"}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/PostStartScanResponse"}},"202":{"description":"Accepted"},"400":{"description":"BadRequest","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"NotFound"},"422":{"description":"UnprocessableEntity","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"InternalServerError","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/api/v3/releases/{releaseId}/static-scans/start-scan-with-defaults":{"post":{"tags":["StaticScans"],"summary":"Start a static scan using the default settings","description":"Allowed Scopes: api-tenant, start-scans","operationId":"StaticScansV3_StartScanWithDefaults","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"releaseId","in":"path","description":"The release id","required":true,"type":"integer","format":"int32"},{"name":"fragNo","in":"query","description":"-1 indicates the fragment of bytes has been sent. The value starts with 0 and increments by 1 for each fragment of bytes sent","required":true,"type":"integer","format":"int64"},{"name":"offset","in":"query","description":"The offset of the bytes sent. 0 indicates the first bytes","required":true,"type":"integer","format":"int64"},{"name":"isRemediationScan","in":"query","description":"Indicates of the scan is a remediation scan","required":false,"type":"boolean"},{"name":"notes","in":"query","description":"The notes about the scan.","required":false,"type":"string"},{"name":"scanMethodType","in":"query","description":"The method of starting a scan","required":false,"type":"string","enum":["IDE","CICD","Other"]},{"name":"scanTool","in":"query","description":"The tool used for scanning","required":false,"type":"string"},{"name":"scanToolVersion","in":"query","description":"The version for the scan tool used for scanning","required":false,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/PostStartScanResponse"}},"202":{"description":"Accepted"},"400":{"description":"BadRequest","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"NotFound"},"422":{"description":"UnprocessableEntity","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"InternalServerError","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/api/v3/releases/{releaseId}/static-scans/start-scan-advanced":{"post":{"tags":["StaticScans"],"summary":"Start a static scan using advanced options","description":"Allowed Scopes: api-tenant, start-scans","operationId":"StaticScansV3_StartScanAdvanced","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"releaseId","in":"path","description":"The release id","required":true,"type":"integer","format":"int32"},{"name":"entitlementPreferenceType","in":"query","description":"The entitlement preference type","required":true,"type":"string","enum":["SingleScanOnly","SubscriptionOnly","SingleScanFirstThenSubscription","SubscriptionFirstThenSingleScan"]},{"name":"purchaseEntitlement","in":"query","description":"Indicates if an entitlement should be purchased if one is not available","required":true,"type":"boolean"},{"name":"remdiationScanPreferenceType","in":"query","description":"The remdiation scan preference type","required":true,"type":"string","enum":["RemediationScanIfAvailable","RemediationScanOnly","NonRemediationScanOnly"]},{"name":"inProgressScanActionType","in":"query","description":"The action to take for in-progress scans for the given release","required":true,"type":"string","enum":["DoNotStartScan","CancelInProgressScan","Queue"]},{"name":"scanMethodType","in":"query","description":"The method of starting a scan","required":true,"type":"string","enum":["IDE","CICD","Other"]},{"name":"fragNo","in":"query","description":"-1 indicates the fragment of bytes has been sent. The value starts with 0 and increments by 1 for each fragment of bytes sent","required":true,"type":"integer","format":"int64"},{"name":"offset","in":"query","description":"The offset of the bytes sent. 0 indicates the first bytes","required":true,"type":"integer","format":"int64"},{"name":"bsiToken","in":"query","description":"The build server integration token for the release","required":false,"type":"string"},{"name":"notes","in":"query","description":"The notes about the scan.","required":false,"type":"string"},{"name":"scanTool","in":"query","description":"The tool used for scanning","required":false,"type":"string"},{"name":"scanToolVersion","in":"query","description":"The version for the scan tool used for scanning","required":false,"type":"string"},{"name":"entitlementId","in":"query","description":"The version for the scan tool used for scanning","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/PostStartScanResponse"}},"202":{"description":"Accepted"},"400":{"description":"BadRequest","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"NotFound"},"422":{"description":"UnprocessableEntity","schema":{"$ref":"#/definitions/ErrorResponse"}},"500":{"description":"InternalServerError","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/api/v3/releases/{releaseId}/static-scans/import-scan":{"put":{"tags":["StaticScans"],"summary":"Saves the contents to import scan file","description":"Allowed Scopes: api-tenant, start-scans","operationId":"StaticScansV3_PutImportScan","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"releaseId","in":"path","description":"Release Id of the scan to import","required":true,"type":"integer","format":"int32"},{"name":"fragNo","in":"query","description":"-1 indicates the fragment of bytes has been sent. The value starts with 0 and increments by 1 for each fragment of bytes sent","required":true,"type":"integer","format":"int64"},{"name":"offset","in":"query","description":"The offset of the bytes sent. 0 indicates the first bytes","required":true,"type":"integer","format":"int64"},{"name":"fileLength","in":"query","description":"The number of bytes of the file being imported","required":true,"type":"integer","format":"int64"},{"name":"importScanSessionId","in":"query","description":"The unique importScanSessionId to use for the session provided by GET /api/v3/releases/{releaseId}/import-scan-session-id","required":true,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/PutImportScanResponse"}},"202":{"description":"Accepted"},"400":{"description":"BadRequest","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"NotFound"},"500":{"description":"InternalServerError","schema":{"$ref":"#/definitions/ErrorResponse"}}}}},"/api/v3/releases/{releaseId}/static-scans/scan-setup":{"get":{"tags":["StaticScans"],"summary":"Get static scan setup details","description":"Allowed Scopes: api-tenant, start-scans","operationId":"StaticScansV3_GetStaticScanSetup","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"releaseId","in":"path","description":"","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/StaticScanSetup"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"NotFound"},"429":{"description":"TooManyRequests"},"500":{"description":"InternalServerError"}}},"put":{"tags":["StaticScans"],"summary":"Saves static scan setup details","description":"Allowed Scopes: api-tenant, start-scans","operationId":"StaticScansV3_PutStaticScanSetup","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded","multipart/form-data"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"releaseId","in":"path","description":"The release id","required":true,"type":"integer","format":"int32"},{"name":"requestModel","in":"body","description":"PutStaticScanSetupRequest model","required":true,"schema":{"$ref":"#/definitions/PutStaticScanSetupRequest"}}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/PutStaticScanSetupResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"NotFound"},"422":{"description":"UnprocessableEntity","schema":{"$ref":"#/definitions/PutStaticScanSetupResponse"}},"429":{"description":"TooManyRequests"},"500":{"description":"InternalServerError"}}}},"/api/v3/tenant-entitlements":{"get":{"tags":["TenantEntitlements"],"summary":"Returns a list of active tenant entitlements","description":"Allowed Scopes: api-tenant, view-tenant-data","operationId":"TenantEntitlementsV3_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/GetTenantEntitlementResponse"}},"401":{"description":"Unauthorized"},"404":{"description":"NotFound"},"429":{"description":"TooManyRequests"},"500":{"description":"InternalServerError"}}}},"/api/v3/tenant-heat-maps":{"get":{"tags":["TenantHeatMaps"],"summary":"Retrieve a list of tenant heat map values","description":"Allowed Scopes: api-tenant, view-tenant-data","operationId":"TenantHeatMapsV3_GetTenantHeatMap","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"sdlcStatus","in":"query","description":"SDLC status of releases to include.","required":true,"type":"string","enum":["Production","QA","Development","Retired"]},{"name":"daysFrom","in":"query","description":"Days back to get data","required":false,"type":"integer","format":"int32"},{"name":"filters","in":"query","description":"<p>A delimited list of field filters.</p>\r\n<p>Field name and value should be separated by a colon (:).</p>\r\n<p>Multiple fields should be separated by a plus (+). Multiple fields are treated as an AND condition. Example, fieldname1:value+fieldname2:value</p>\r\n<p>Multiple values for a field should be separated by a pipe (|). Mulitple values for a field are treated as an OR condition. Example, fieldname1:value1|value2</p>","required":false,"type":"string"},{"name":"orderBy","in":"query","description":"The field name to order the results by","required":false,"type":"string"},{"name":"orderByDirection","in":"query","description":"The direction to order the results by. ASC and DESC are valid values.","required":false,"type":"string"},{"name":"fields","in":"query","description":"Comma separated list of fields to return","required":false,"type":"string"},{"name":"offset","in":"query","description":"Offset of the starting record. 0 indicates the first record","required":false,"type":"integer","format":"int32"},{"name":"limit","in":"query","description":"Maximum records to return. The maximum value allowed is 50.","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/TenantHeatMap"}},"400":{"description":"BadRequest","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Unauthorized"},"429":{"description":"TooManyRequests"},"500":{"description":"InternalServerError"}}}},"/api/v3/tenants/features":{"get":{"tags":["Tenants"],"summary":"Get tenant features","description":"Allowed Scopes: api-tenant, view-tenant-data","operationId":"TenantsV3_GetFeatures","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/TenantFeatureListResponse"}},"401":{"description":"Unauthorized"},"429":{"description":"TooManyRequests"},"500":{"description":"InternalServerError"}}}},"/api/v3/tenants":{"get":{"tags":["Tenants"],"summary":"Get tenant data","description":"Allowed Scopes: api-tenant, view-tenant-data","operationId":"TenantsV3_GetTenant","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/GetTenantResponse"}},"401":{"description":"Unauthorized"},"404":{"description":"NotFound"},"429":{"description":"TooManyRequests"},"500":{"description":"InternalServerError"}}}},"/api/v3/tenant-summary":{"get":{"tags":["TenantSummary"],"summary":"Retrieves a summary of the tenant","description":"Allowed Scopes: api-tenant, view-tenant-data","operationId":"TenantSummaryV3_GetTenantSummary","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"daysFrom","in":"query","description":"Days back to look","required":false,"type":"integer","format":"int32"},{"name":"sdlcStatus","in":"query","description":"The SDLC Status to retrieve information about","required":false,"type":"string","enum":["Production","QA","Development","Retired"]}],"responses":{"200":{"description":"Ok","schema":{"$ref":"#/definitions/TenantSummaryListResponse"}},"401":{"description":"Unauthorized"},"422":{"description":"UnprocessableEntity","schema":{"$ref":"#/definitions/ErrorResponse"}},"429":{"description":"TooManyRequests"},"500":{"description":"InternalServe
[...]
