<configuration>
  <appender name="default" class="ch.qos.logback.core.ConsoleAppender">
    <target>System.err</target>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>WARN</level>
    </filter>
    <encoder>
        <pattern>%msg%n</pattern>
    </encoder>
  </appender>

  <root level="warn">
    <appender-ref ref="default" />
  </root>
  
  <!-- Don't log warnings about incorrect cookie contents, commonly seen when downloading files from GitHub for example -->
  <logger name="org.apache.http.client.protocol.ResponseProcessCookies" level="ERROR"/>
</configuration>