<!--
    Copyright 2021, 2023 Open Text.
   
    The only warranties for products and services of Open Text 
    and its affiliates and licensors ("Open Text") are as may 
    be set forth in the express warranty statements accompanying 
    such products and services. Nothing herein should be construed 
    as constituting an additional warranty. Open Text shall not be 
    liable for technical or editorial errors or omissions contained 
    herein. The information contained herein is subject to change 
    without notice.
 -->
<configuration>
  <appender name="default" class="ch.qos.logback.core.ConsoleAppender">
    <target>System.err</target>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>WARN</level>
    </filter>
    <encoder>
        <pattern>%msg%n</pattern>
    </encoder>
  </appender>

  <root level="warn">
    <appender-ref ref="default" />
  </root>
  
  <!-- Don't log warnings about incorrect cookie contents, commonly seen when downloading files from GitHub for example -->
  <logger name="org.apache.http.client.protocol.ResponseProcessCookies" level="ERROR"/>
</configuration>