<div id="banner">
<img class="logo" src="{{ site.baseurl }}/img/mf_fortify_bluesquare_logo.svg"/>
  <h2>{{ include.bannerTitle }}</h2>
</div>
<div id="navbar">
  <div id="navbar-version">
    <span class="version-label">Version:&nbsp;</span><div class="dropdown">{{ include.currentVersion}} <i class="arrow down"></i>
    <div class="dropdown-content"> 
      <span>-- Releases --</span>
	  {% for version in site.data.versions.release %}
      <a href="{{ site.baseurl }}/{{ version }}">{{ version }}</a>
      {% endfor %}
      <span>-- Development --</span> 
	  {% for version in site.data.versions.dev %}
      <a href="{{ site.baseurl }}/{{ version }}">{{ version }}</a>
      {% endfor %}
    </div></div>
  </div>
</div>
